body {
	font-family: Arial, sans-serif;
}

h1, h2 {
	text-align: center;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding: 5px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

button {
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #0062cc;
}

table {
	border-collapse: collapse;
	margin: 20px auto;
}

th, td {
	padding: 5px;
	border: 1px solid #ccc;
	text-align: center;
}

th {
	background-color: #007bff;
	color: #fff;
}